body {
    font-family: "Roboto";
    background-color: darkgreen;
    background: rgba(rgb(145, 37, 37), rgb(110, 119, 110), rgb(116, 116, 145), 0.78);
    color: red;
    font-size: 20px
}
h1 {
font-size: 3em
}
header {
    align-items: center;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1561722798-9a732d141027?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
}
header div {
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 70px;
}

main {
    display: flex;
}
main > section {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 15px;
    text-transform: capitalize;

}
p {
    font-size: 0.75em
}
ul {
    padding: 0;
}

li {
    list-style-type: none;
}
nav > ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

footer {

}
img{
    width: 100vw;
    max-width: 100vw;
    margin: 1px;
    padding: 1px;
}
nav{
    background-color: powderblue;
}
.dropdown ul {
    background-color: powderblue;
    display: none;
    position: absolute;
    padding: 8px;
    border-radius: 0 0 10px 10px;
}

.dropdown:focus ul,
.dropdown:hover ul {
    display: flex;
    flex-direction: column;
}

footer li {
    display: inline-block;
}